<footer class="bg-light text-center py-4 container-fluid">
  <div class="row py-4">
    <div class="col-sm-4">
      <h3 class="fs-4">Contact</h3>
      <h5 class="fs-6">Coming Soon</h5>
    </div>
    <div class="col-sm-4">
      <h3 class="fs-4">Links</h3>
      <h5 class="fs-6">Coming Soon</h5>
    </div>
    <div class="col-sm-4">
      <h3 class="fs-4">Socials</h3>
      <h5 class="fs-6">Coming Soon</h5>
    </div>
  </div>
  <div>
    <p class="m-0">
      &copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.
    </p>
  </div>
</footer>
