<!-- Footer -->
<footer class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex gap-3">
          <img
            src="/assets/images/AUAAS Logo.png"
            alt="Athabasca University"
            height="36"
          />
          <div>
            <p class="text-white">
              Athabasca University Autonomous Aerial Systems
              <small>In association with Athabasca University</small>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex flex-column">
        <a href="/about" class="text-white">About</a>
        <a href="/competitions" class="text-white">Competitions</a>
        <a href="/projects" class="text-white">Projects</a>
        <a href="/team" class="text-white">Team</a>
      </div>
    </div>
    <hr class="my-4" />
    <div class="d-flex justify-content-between small">
      <span>
        &copy; {{ site.time | date: '%Y' }} {{ site.title }}. Athabasca
        University Autonomous Aerial Systems</span
      >
      <span></span>
    </div>
  </div>
</footer>
