<header
  class="navbar navbar-expand-lg navbar-dark sticky-top"
  style="background-color: #1b365d"
>
  <div class="container">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ '/' | relative_url }}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            href="{{ '/projects.html' | relative_url }}"
            >Projects</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            href="{{ '/competitions.html' | relative_url }}"
            >Competitions</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            href="{{ '/blog.html' | relative_url }}"
            >Blog</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            href="{{ '/Team.html' | relative_url }}"
            >Team</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            href="{{ '/contact.html' | relative_url }}"
            >Contact</a
          >
        </li>
        <li class="ms-3 d-flex align-items-center">
          <a
            href="{{ '/sponsors.html' | relative_url }}"
            class="btn btn-light py-1"
          >
            Sponsor Us
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
