<!-- Nav -->
<nav
  id="mainNav"
  class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow-sm"
>
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2" href="#">
      <!-- Optional AU / team logo -->
      <!-- <img src="assets/img/auaas-logo.svg" alt="AUAAS"> -->
      <span>{{ site.short_title | default: "AUAAS" }}</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navContent"
      aria-controls="navContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#who">Who We Are</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#mission">Mission & Vision</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#competitions">Competitions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#remote">Remote Advantage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#get-involved">Get Involved</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
