<!-- Nav -->
<nav id="mainNav" class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2" href="/">
      <!-- Optional AU / team logo -->
      <img src="/assets/images/AUAAS Logo.png" alt="AUAAS" />
      <!-- <span>{{ site.short_title | default: "AUAAS" }}</span> -->
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navContent"
      aria-controls="navContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/projects" style="color: white">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/competitions" style="color: white"
            >Competitions</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team" style="color: white">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" style="color: white">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact" style="color: white">Contact</a>
        </li>
        <li
          class="nav-item d-flex flex-column justify-content-center ms-lg-2 ms-0 mt-2 mt-lg-0"
        >
          <a class="btn btn-outline-light" href="/team/join/">Join the Team</a>
        </li>
        <li
          class="nav-item d-flex flex-column justify-content-center ms-lg-2 ms-0 mt-2 mt-lg-0"
        >
          <a class="btn btn-light" href="/sponsors">Sponsor Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
